<!-- POPUP START -->
<body leftmargin="0" topmargin="0" marginheight="0" marginwidth="0">
	<p />
	<table border="0" width="%popup_width%" cellspacing="0" cellpadding="0" align="center" style="border: 1px solid #%border_color%;">
		<tr align="left" valign="top">
			<td bgcolor="#%header_bg_colo%">
				<div id="header">%blog_title%</div>
			</td>
		</tr>
		<tr align="left" valign="top">
			<td bgcolor="#%main_bg_color%">
				<div id="maincontent">
					%content%
				</div>
			</td>
		</tr>
		<tr align="left" valign="top">
			<td bgcolor="#%footer_bg_color%">
				<div id="footer">%footer%</div>
			</td>
		</tr>
	</table>
	<p />
</body>
<!-- POPUP END -->
