<!-- MAIN LAYOUT START -->
<body>
	<p />
	<table border="0" width="%page_width%" cellspacing="0" cellpadding="0" align="center" style="border: 1px solid #%border_color%;">
		<tr align="left" valign="top">
			<td width="%page_width%" colspan="2" bgcolor="#%header_bg_color%">
				<div id="header_image"><img src="%image_path%header750x100.jpg" alt="" border="0" /></div>
				<div id="header">%blog_title%</div>
				<div id="pagebody">
					<table border="0" width="%page_width%" cellspacing="0" cellpadding="0" align="left">
						<tr valign="top">
							<td width="%content_width%" bgcolor="#%main_bg_color%">
								<div id="maincontent">
									%content%
								</div>
							</td>
							<td width="%menu_width%" bgcolor="#%menu_bg_color%" style="border-left: 1px solid #%inner_border_color%;">
								<div id="sidebar">%menu%</div>
							</td>
						</tr>
						<tr align="left" valign="top">
							<td width="%page_width%" bgcolor="#%footer_bg_color%" colspan="2">
								<div id="footer">%footer%</div>
							</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</table>
	<p />
</body>
<!-- MAIN LAYOUT END -->
