/*
--------------------------
Simple PHP Blog CSS Styles
--------------------------

Name: Modern Theme
Author: Alexander Palmo
Version: 0.4.2
Date: 12/11/06

Description:
This the is the css theme for the Modern theme. You can use
this as a template for your own themes.

Also refer to user_style.php for custom color over-rides.

Some font suggestions...

STANDARD
font-family: Arial, Helvetica, Sans-Serif;
font-family:  'Lucida Grande', Geneva, sans-serif;
font-family: Tahoma, Geneva, sans-serif;
font-family: Geneva, Verdana, sans-serif;

CLASSIC / TRADITIONAL
font-family: 'Times New Roman', Times, serif;
font-family: Georgia, serif;
font-family: Book Antiqua, Palatino, serif;

MODERN / FUNKY
font-family: 'Gill Sans', 'Trebuchet MS', Helvetica, sans-serif;

MONOSPACE
font-family: Lucida Console, Monaco, monospace;

*/

/* CONTENT */

